<html>
    <head>
    <title>TO DO LIST</title>
    <link rel= "stylesheet" href= "index.css">
    <link rel= "show.css">
    </head>

<body>
    <h1>WORKSHOP TO DO!</h1>
    
<ul>
    <a href="/todo/show">
        <li> <input type="checkbox">Make the curriculum 
            <span class="pomodoro-estimate"> 4 pomodoros</span>
        </li>
    </a><a href="/todo/show">
        <li> <input type="checkbox">Buy Food
            <span class="pomodoro-estimate"> 4 pomodoros</span>
        </li>
    </a><a href="/todo/show">
        <li> <input type="checkbox">Call Person
            <span class="pomodoro-estimate"> 4 pomodoros</span>
        </li>
    </a><a href="/todo/show">
        <li> <input type="checkbox">Read book
            <span class="pomodoro-estimate"> 4 pomodoros</span>
        </li>
    </a>
</ul>

<div>
    <input type="text" placeholder= "Enter To-Do"/>
    <input type="number" placeholder= "Pomodoro Estimate"/>
</div>

<input id="add-new-to-do-button" type="submit" value="To Do"/>

<img src= "https://static.vecteezy.com/system/resources/previews/000/045/736/non_2x/3d-checkmark-vector.jpg" alt="checkmark" 
    style= "width: 250;height: 140px;">

<img src= "http://www.clker.com/cliparts/Z/u/b/a/j/i/big-red-x-hi.png" alt="xmark" 
    style= "width: 200;height: 140px;">

<div>
     
<%= 4+3 %>

</div>
</body>
</html>
